<h1 align="center" style="">About Myself </h1>
<iframe align="center" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D1684145155001552%26set%3Da.102299786519438.5041.100002182510832%26type%3D3&width=500" width="500" height="503" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<h3 align="center" style="color:grey">Name : Chia Ding Zhan</h3>
<h3 align="center" style="color:grey">School : Taylor Univeristy</h3>
<h3 align="center" style="color:grey">Major : Software Engineering</h3>

<a align="center" href="http://github.com/zhankit">More About myself :) </a>
